<div class="container">
<br>
<%= form_with(model:@student) do |f| %>
  <div>
     <%= f.label :name,"Name", class:'form-label' %> 
     <%= f.text_field :name, class:'form-control' %>
  </div>
  <br>
  <div>
     <%= f.label :question_paper_id,"Select Question Paper",class:'form-label' %><br>
     <%= f.select :question_paper_id,(QuestionPaper.all.map{|e| [e.name, e.id]}),class:'form-control' %>
  </div>
  <br>
  <div>
     <%= f.label :question_id,"Select Question",class:'form-label' %><br>
     <%= f.select :question_id,(Question.all.map{|e| [e.title, e.id]}),id:'question',class:'form-control' %>
  </div>
  <br>
  <div>
    <%= f.submit :submit,class:'btn btn-success' %>
  </div>
  <br>
<% end %>
</div>