<br>
<div class="container">
<center><h3>Answer the Questions </h3></center>
<br>
<%= form_with(model:@answer) do |f| %> 
   
  <%= f.hidden_field :student_id, value: @student.id %>
  <% @student.question_paper.questions.each_with_index do |q,index| %>
    <strong><%= q.id %>.<%= q.title %></strong>
    <div class="form-check">
    
     <%= f.hidden_field "questions[#{index}][question_id]", value: q.id %>
     <%= f.radio_button "questions[#{index}][answer]", q.option1, class:"form-check-input" %><%= q.option1 %> <br>  
     <%= f.radio_button "questions[#{index}][answer]", q.option2, class:"form-check-input" %><%= q.option2 %> <br> 
     <%= f.radio_button "questions[#{index}][answer]", q.option3, class:"form-check-input" %><%= q.option3 %> <br> 
     <%= f.radio_button "questions[#{index}][answer]", q.option4, class:"form-check-input" %><%= q.option4 %> <br> 
    </div>
   <br>
  <% end %> 
  <div>
    <%= f.submit :submit,class:'btn btn-dark' %>
  </div>
  <br>
<% end %>
</div>










  <%#= f.hidden_field :question_id, value: @student.question_paper.questions.ids %>
 <%# <% @student.question_paper.questions.each do || %> 
 <%# <% @student_questionpaper_id.id.questions.each do |q| %> 
  <%#= @student_questionpaper_id.id.questions.find(23).title %>
  <%# <%= @student_questionpaper.inspect %>