<div class="container">
  <% @teacher.question_papers.each do |qp| %>
  <div class="answerDisplay">
    <strong>QuestionPaper:</strong><span><%= qp.name rescue "" %></span><br>
     <% qp.questions.each do |q| %> 
       <%= q.id %>.<strong>Question:</strong><span><%= q.title %></span><br>
        <% q.answer.each do |a| %>
          <strong>Submited Students:</strong>
          <span><%= a.student.name.capitalize %></span>
          <div>
          <strong><%= a.student.name.capitalize %> Answer:</strong>
          <span><%= a.answer %></span>
          </div>
        <% end %>
        <br>
     <% end %>
  </div>
  <% end %>
</div>
<br>
