<br>
<div>
<% @teachers.each do |teacher| %>
<strong style="padding:30px">Name: <%= teacher.name %></strong>
<%= link_to "Create Question", new_teacher_question_path(teacher),style: 'padding:30px' %>
<%= link_to "Create Question Paper",new_questionpaper_path(teacher_id: teacher.id),style: 'padding:30px' %>
<%= link_to "Overview", teacher_path(teacher),style: 'padding:30px' %>
<%= link_to "Students Answers",answers_path(teacher_id: teacher.id) %>

<% end %>
</div>
